#logo {
    width: 160px;
    height: 40px;
}

.login-panel {
    width: 50%;
    margin: auto;
}

#signIn {
    float: right;
}

#menu {
    background-color: #1f1f2e;
    border-radius: 0;
}

#index-href {
    border: none;
    padding: 0;
}

table {
    margin: auto;
    width: 100%;
}

.jumbotron {
    text-align: center;
    width: 80%;
    margin: auto;
}
.btn{
    background-color: transparent;
}