<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header">
<body>
<nav th:replace="fragments :: menu"></nav>
<div class="jumbotron">
    <h2 class="display-4">Dane pracownika</h2>
    <hr class="my-4">
    <form th:action="@{/employee/edit}" method="post">
        <input type="hidden" name="id" th:value="${employee.getId()}"/>
        <div class="container">
            <div th:replace="fragments :: employee(${employee})"></div>
            <div class="row">
                <div class="col-md-12">
                    <label for="quitDate">Data zakończenia pracy</label>
                    <input type="date" class="form-control" name="quitDate" id="quitDate"/>
                </div>
            </div>
            <input type="submit" value="Zmień" class="btn btn-primary">
        </div>
    </form>
</div>
</div>
</body>
</html>